* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

@mixin flex-column($gap: 0rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}

body {
  background: rgb(24, 24, 24);
  color: rgb(224, 223, 223)
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
}
main {
    @include flex-column;
    padding: 1rem 0;

     .view1 {
            @include flex-column(1rem);
            padding: 0 1rem;

            img {
                width: 100%;
                border-radius: 1rem;
            }

            .bottom{
                    @include flex-column(3.5rem);
                    background: rgb(35, 34, 34);
                    padding: 1rem 2.5rem;

                    .text{
                        h1{
                            font-size: 4rem;
                        }
                    }
            }  
    }
}
