*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
}
.container{
    display: flex;
    align-items: flex-end;
    gap: 20px;
    /* justify-content: space-around; */
}
.box{
    width: 100px;
    border: 2px solid white;
    text-align: center;
    padding: 20px;
}