*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background: seagreen;
}
#child{
    height: 50%;
    width: 50%;
    background: rgb(210, 115, 99);
    text-align: center;
    border: 3px solid black;
    border-radius: 50px;
    margin: auto;
}
#child h1{
    background: slateblue;
    padding: 5%;
    border: 3px solid white;
    border-radius: 50px;
    margin: 0 10%;
}
#child p{
    background: tomato;
    margin: 10%;
    border: 3px solid yellow;
    border-radius: 50px;
    padding: 5%;
}