@font-face {
    font-family: f1;
    src: url(The\ Silent\ Night.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: f1;
    background-image: url(car.jpg);
    background-size: cover;
}
#main{
    text-align: center;
    padding: 50px;
}
h1{
    font-size: 8rem;
    font-weight: 100;
}
button{
    padding: 15px 15px;
    font-size: 1rem;
    background: rgba(255, 128, 0, 0.55);
    border: 2px solid black;
    border-radius: 10px;
    cursor: pointer;
}
button:hover{
    background: rgba(255, 128, 0, 0.85);
    color: white;
}