@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
margin: 0;
padding: 0;
}
html, body {
/* height: 100%; */
width: 100%;
box-sizing: border-box;
font-family: "Rubik", sans-serif;
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px auto 120% 230% 300% 280% 240% 230% 230%;
    grid-template-areas: "header"
                         "firm"
                         "percentage"
                         "aboutus"
                         "expertise"
                         "milestones"
                         "log"
                         "map"
                         "footer"
    ;
}

header{
    background: white;
    grid-area: header;
    display: flex;
    justify-content: center;
    width: 100%;
}
.navbar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}
.logo i{
    font-size: 20px;
    /* transform: rotateZ(45deg); */
}
.logo h3{
    display: inline-block;
}
.links ul{
    display: flex;
    gap: 20px;
    list-style-type: none;
}
.links a{
    text-decoration: none;
    color: black;
}
.buttons button{
    margin: 0 5px;
    padding: 8px 15px;
    border-radius: 50px;
    border: 1.5px solid #0361FF;
    color: #0361FF;
    background: transparent;
}
.buttons button:nth-child(2){
    background: #0361FF;
    color: white;
}
.firm{
    background: rgb(237, 236, 236);
    grid-area: firm;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 10px;
    margin-top: 30px;
}
.info h1{
    font-weight: 400;
}
.info p{
    width: 60%;
}
.button button{
    margin: 10px 5px;
    padding: 8px 15px;
    font-size: 15px;
    border-radius: 50px;
    border: 1.5px solid #0361FF;
    color: #0361FF;
    background: transparent;
}
.button button:nth-child(1){
    background: #0361FF;
    color: white;
}
.figure{
    width: 1100px;
    height: 600px;
    margin: 20px 0 50px 0;
    border-radius: 20px;
    overflow: hidden;
    background-color: rebeccapurple;
}
.figure img{
    width: 1100px;
    height: 600px;
    object-fit: cover;
}

.percentage{
    background: white;
    grid-area: percentage;
}
.aboutus{
    background: grey;
    grid-area: aboutus;
}
.expertise{
    background: crimson;
    grid-area: expertise;
}
.milestones{
    background: lightblue;
    grid-area: milestones;
}
.log{
    background: white;
    grid-area: log;
}
.map{
    background: seagreen;
    grid-area: map;
}
footer{
    background: black;
    grid-area: footer;
}